{% extends 'base.html' %}

{% load static %}


{% block content %}
<script src="{% static 'js/button-decisions.js' %}"></script>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3 id="question" class="text-center">
				Will you be my Valentine?
			</h3>
			<div class="text-center">
				<img id="img" alt="Bootstrap Image Preview" src="{% static 'images/question-mark.jpg' %}" class="img-fluid" style="max-width: 40%; height: auto;" />
			</div>
			<div class="row">
				<div class="col-md-6">
					<button id="yes-btn" type="button" class="btn btn-success float-end" onclick="choseCorrect()" >
						Yes!
					</button>
				</div>
				<div class="col-md-6">
					<button id="no-btn" type="button" class="btn btn-danger" onclick="choseWrong()">
						No.
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}